<div  id="contact" class="d-flex justify-content-center align-items-center vh-100" style="height: 100vh; background: url('https://www.shutterstock.com/image-illustration/abstract-blue-white-gray-polygon-600nw-1074418871.jpg') center/cover no-repeat;">
    <div class="p-4 bg-light border rounded shadow w-50">
        <h3 class="text-center mb-3">Contact us</h3>
        <form>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Enter your name" required>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Enter your email" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Enter your password" required>
            </div>
            <div class="mb-3">
                <textarea class="form-control" placeholder="Enter any message"></textarea>
            </div>
            <button class="btn btn-primary w-100">Submit</button>
        </form>
    </div>
</div>